body {
    background-color: rgb(1, 1, 71);
    color: azure;
    font-family: monospace;
}

h1 {
    font-size: xx-large;
    font-weight: 800;
}

span {
    font-size: large;
    font-weight: 200;
}

h2 {
    font-size: x-large;
}

p {
    font-size: medium;
}

a {
    text-decoration: none;
    border: 2px solid black;
    padding: 5px 5px;
}

footer {
    margin-top: 10px;
}